---
title: site.title - about
layout: default
---
<!-- START THE FEATURETTES -->

<!-- Fencepost -->
<hr class="featurette-divider">
{% assign about_images = site.static_files | where: "image", true %}
{% for img in about_images %}
    {% if img.path contains "about_" %}

    <!-- Initialize a couple of variables.  These will be used for formatting every other row to get the "zig-zag" effect. -->
    {% assign leftImg = "" %}
    {% assign rightTxt = "" %}

    <!-- Determine if this is an "even" row or an "odd row" -->
    {% assign isOdd = forloop.index | modulo:2 %}

    {% if isOdd == 0 %}
        {% assign leftImg = "col-md-push-5" %}
        {% assign rightTxt = "col-md-pull-7" %}
    {% endif %}

        <div class="row featurette">
            <div class="col-md-7 {{ leftImg }}">
                <h2 class="featurette-heading">Orlando<span class="text-muted"> / guitar</span></h2>
                <p class="lead">Cordial oatmeal buff. Life is good.</p>
            </div>
            <div class="col-md-5 {{ rightTxt }}">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="{{ site.url }}{{ img.path }}">
            </div>
        </div>

        <hr class="featurette-divider">

    {% endif %}       
{% endfor %}